.under {
  list-style: none;
  overflow: hidden;
}
.navlink {
  text-decoration: none;

  color: green;
}
li:hover {
  color: red;
  border: 2px solid red;
  border-radius: 5px 5px 5px 5px;
  background-color: aqua;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -ms-border-radius: 5px 5px 5px 5px;
  -o-border-radius: 5px 5px 5px 5px;
}
.maindiv {
  float: right;
}
